body {
    margin: 0;
    margin-top: 81px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.hd {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f7323f;
    color: aliceblue;
}
.bt {
    position: relative;
    width: 95px;
    height: 20px;
    cursor: pointer;
    background-color: #f7323f;
    border: none;
    margin: 10px;
}
.rogo {
    
    position: absolute;
    width : 100%;
    height: 200%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav > ul > li {
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
nav > ul > li > a{
    color: #fff;
    text-decoration: none;
}
.info{
    font-weight: bold ;
    font-size: 30px;
}
.sec{
    margin-left:40%;
    padding-top:30px;
}
footer{
    color: rgba(0,0,0,0.38);
    background-color: rgb(245,245,245);
    padding : 50px;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    font-weight: bold;
    margin-left: 15px;
}
.name{
    width:500px;
    height:370px;
    background-color: rgba(247, 226, 242, 0.993);
    margin-bottom: 40px;
}
.name2{
    margin-left: 15px;
    padding-top: 10px; 
}
input{
    width:490px;
}
.box{
    width:120px;
    height:40px;
    margin: 0px 0px 30px 20%;
}
